{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "plugins": [
    "prettier-plugin-sql"
  ],
  "overrides": [
    {
      "files": [
        "**/*.mjs"
      ],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": [
        "**/*.sql"
      ],
      "options": {
        "language": "postgresql"
      }
    }
  ]
}